<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            CountriesInfo
        </ion-title>
    </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
    <ion-button expand="block" fill="solid" size="large">Countries and Capital</ion-button>
    <ion-button expand="block" fill="solid" size="large">Asia</ion-button>
    <ion-button expand="block" fill="solid" size="large">Africa</ion-button>
    <ion-button expand="block" fill="solid" size="large">Europe</ion-button>
    <ion-button expand="block" fill="solid" size="large">Antarctica</ion-button>
    <ion-button expand="block" fill="solid" size="large">North America</ion-button>
    <ion-button expand="block" fill="solid" size="large">South America</ion-button>
    <ion-button expand="block" fill="solid" size="large">Australia/Oceania</ion-button>
    <ion-button expand="block" fill="solid" size="large">About</ion-button>

</ion-content>