<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            CountriesInfo
        </ion-title>
    </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
    <ion-button expand="block" fill="solid" size="large" href="country-list">Countries and Capital</ion-button>
    <ion-button expand="block" fill="solid" size="large">Asia</ion-button>
    <ion-button expand="block" fill="solid" size="large">Africa</ion-button>
    <ion-button expand="block" fill="solid" size="large">Europe</ion-button>



</ion-content>